.AboutProfilePic {
    height: 80px;
    padding-top: 50px;
  }

  .AboutProfilePicFront {
    height: 80px;
    padding-top: 50px;
    fill: white;
    filter: none;
  }

  .white-svg-filter {
    filter: brightness(0) invert(1);
  }