.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-top: 2rem;
  transition: all 0.5s ease;
  position: relative;
  padding-bottom: 2rem;
}

.profile-card {
  max-width: 300px;
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 1s ease, width 1s ease, height 1s ease;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.profile-card.flipped {
  max-width: 330px;
  transform: rotateY(360deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.profile-picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.title {
  color: gray;
}

.social-icons {
  margin: 1rem 0;
}

.social-icons a {
  margin: 0 0.5rem;
  color: #333;
}

.social-icons a:hover {
  color: white;
  transition: color 1s;
}

.contact-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #333;
}

/* Contact form inside flipped card */
.contact-form {
  max-width: 300px;
  background: transparent;
  padding: 1rem;
  text-align: center;
  animation: fadeIn 1s forwards;
}

.contact-form h2 {
  margin-top: -2rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  font-family: Freestyle Script;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 280px;
  max-height: 300px;
  min-width: 280px;

  padding: 0.8rem;
  color: white;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  background-color: #333;
  border-radius: 10px;
}

.contact-form textarea {
  min-height: 8rem;
}


/* Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .content {
      flex-direction: column;
      align-items: center;
  }
  .profile-card {
      width: 90%;
  }
}
/* Close Button (X) */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  z-index: 20;
}

.close-button:hover {
  color: red;
}

.submit-btn {
  align-items: right;
  margin-bottom: -1rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #333;
}

.contact-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #333;
}
