.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 2rem;
  position: relative;
}
.heroImage {
  display: block;
  height: 300px;
  border-radius: 12px;
  margin: 0px auto;
  margin-top: 1rem;
}

.card {
  width: 240px;
  border-radius: 16px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  margin-bottom: -2rem;
}

.card p {
  margin-top: -1rem;
}


.card .Pin {
  display: none;
}

.card.active .Pin {
  display: block;
  height: 300px;
  width: auto;
  position: absolute;
  right: -130px;
  top: -70px;
  rotate: 90deg;
}

.CardTitleHome {
  color: #333;
  margin-top: 1rem;
  justify-content: center;
  font-family: Freestyle Script;
}


.CardBody p {
  font-size: 1rem;
  padding-bottom: 1rem;
  filter: none;
}


/* Responsive */
@media (max-width: 768px) {
  .card-deck {
    flex-direction: column;
  }
  .card {
    max-width: 240px;
    margin-bottom: -3rem;
  }
  .card .Pin {
    display: none;
  }
}






/* Visit button */
.visit-btn {
  margin-top: 0rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.visit-btn:hover {
  background-color: #555;
}

/* Mobile support */
@media (max-width: 768px) {

}


@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

.shake {
  animation: shake 0.5s;
}