footer {
    display: flex;
    background-color: black;
    padding: 0px 20px 0px;
    color: white;
    max-width: 1024px;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInFooter 1s ease-in-out forwards;
}

  @keyframes fadeInFooter {
    from {
      transform: translateY(100%);
      opacity: 0;
      scale: 0.9;
    }
    to {
      transform: translateY(0);
      opacity: 1;
      scale: 1;
    }
  }

.footer-text {
    font-size:small;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .social-media {
    position: absolute;
    right: 3rem;
    animation: fadeIn 1s ease-in-out forwards;
  }

  .footer-text p{
    text-align: left;
  }
  .footer-text a{
    text-decoration: none;
    color: #333; /* Base text color for mobile */
    padding: 0px 0px;
    display: block;
    border-radius: 0px;
  }
  .footer-text a:hover {
    color: mediumblue; /* Change text color on hover */
    text-shadow: lightblue 0px 0px 5px; /* Optional: add a shadow effect on hover */
    text-decoration: underline; /* Optional: underline on hover */
    transition: text-shadow 0.3s, color 0.3s; /* Smooth transition for the hover effect */
  }

  .icon-btn {
    margin: 0 10px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
  }
  
  .icon-btn:hover {
    color: #0073b1; /* Change to your preferred hover color */
    transform: scale(1.2);
    animation: bounce 0.6s;
  }
  
  @keyframes bounce {
    0%   { transform: scale(1.2) translateY(0); }
    30%  { transform: scale(1.25) translateY(-5px); }
    50%  { transform: scale(1.2) translateY(0); }
    70%  { transform: scale(1.22) translateY(-3px); }
    100% { transform: scale(1.2) translateY(0); }
  }
  

  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      padding: 10px;
      text-align: center;
    }

    .footer-text {
      font-size: smaller;
    }

    .social-media {
      position: static;
    }

    .icon-btn {
      gap: 20px;
    }
  }
