body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-width: 350px; 
  justify-content: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding: 0%;
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
    color-scheme: dark;
    box-sizing: border-box; 
  }

  html {
 
    margin: 0 auto;
    overflow-x: hidden;
    text-align: center;

}

.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  padding-top: 7rem;
  padding-left: 10px;
  padding-right: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  main {
    padding-top: 5rem;
    padding-left: 5px;
    padding-right: 5px; 
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

